* {
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.pokemons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 1100px;
    padding: 100px 0;
    margin: auto;
    list-style: none;
}

.poke-list-item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: darkcyan;
}

.poke-num {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    color: black;
    border-bottom-left-radius: 12px;
    background-color: yellow;
}

.poke-img {
    margin-top: 40px;
    width: 200px;
    height: 120px;
    object-fit: contain;
}

.poke-name {
    margin: 10px;
    color: white;
}

.poke-weight {
    padding: 10px;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
}

.poke-candy-count {
    color: black;
    background-color: yellow;
}

.poke-type {
    padding: 5px 0;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: blue;
}